@charset "UTF-8";

.form-wrap{
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.form-list-con {
}

.form-list-con .form-list{
	position: relative;
	margin-bottom: 20px;
}

.form-con .form-title {
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #454545;
	margin-bottom: 10px;
}
.form-con .form-title.essential:after{
	content: ' *';
	color: #E22B2B;
}
.form-con .form-title > span{
	font-weight: 400;
}

.form-con .form-input input[type="text"], .form-con .form-input input[type="password"] {
	width: 100%;
	font-size: 18px;
	line-height: 100%;
	font-weight: 400;
	color: #000;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
.form-con .form-input input:not([type='file']):read-only, .form-con .form-input input:disabled{
	background-color: #eee;
	cursor: default;
}

.form-con .form-input input::placeholder, .form-con .form-input input::-webkit-input-placeholder,.form-con .form-input textarea::placeholder, .form-con .form-input textarea::-webkit-input-placeholder {
	color: #667085;
}

.form-con .form-input textarea {
	width: 100%;
	font-size: 18px;
	line-height: 100%;
	font-weight: 400;
	color: #000;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: none;
}


.form-con .form-info-text{
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	margin-top: 10px;
}

.form-con .form-error-text{
	font-size: 14px;
	line-height: 100%;
	font-weight: 400;
	margin-top: 15px;
	margin-bottom: -5px;
}

.form-wrap .form-list.focused .form-title,
.form-wrap .form-list.focused .form-input input,
.form-wrap .form-list.focused .form-input textarea,
.form-wrap .form-list.focused .form-error-text{
	color: #4881DE;
	border-color: #4881DE;
}

.form-wrap .form-list.input-error .form-title,
.form-wrap .form-list.input-error .form-input input,
.form-wrap .form-list.input-error .form-input textarea,
.form-wrap .form-list.input-error .form-error-text{
	color: #E22B2B;
	border-color: #E22B2B;
}

.form-con .form-btn-con {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 30px;
}

.form-con .submit-btn {
	width: 400px;
	font-size: 22px;
	line-height: 100%;
	font-weight: 600;
	color: #fff;
	text-align: center;
	padding: 22px;
	border: none;
	border-radius: 35px;
	background-color: #4881DE;
}

.form-con .form-btn {
	display: inline-block;
	font-size: 18px;
	line-height: 100%;
	font-weight: 600;
	color: #000;
	text-align: center;
	border: none;
	border-radius: 35px;
}

.form-con .form-btn > *{
	display: inline-block;
	vertical-align: middle;
}

/*대표이미지*/
.image-radio-group{
	max-width: 440px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 20px;
}

.image-option {
	display: inline-flex;
	align-items: flex-start;
	gap: 10px;
	margin-right: 0;
	cursor: pointer;
}

.image-option.custom{
	width: 100%;
	display: flex;
	align-items: center;
	margin-top: 0;
}

.image-option input[type="radio"] {
	display: none;
}

.custom-radio {
	position: relative;
	width: 16px;
	height: 16px;
	border: 1px solid #D0D5DD;
	border-radius: 50%;
	box-sizing: border-box;
}

.custom-radio::after {
	content: '';
	width: 8px;
	height: 8px;
	background-color: #2A96FB;
	border-radius: 50%;
	position: absolute;
	top: 3px;
	left: 3px;
	opacity: 0;
	transition: opacity 0.1s ease-in-out;
}

.image-option img{
	display: block;
	width: 70px;
	height: 70px;
	object-fit: cover;
	border: 2px solid transparent;
	border-radius: 50%;
	transition: border-color 0.1s;
	text-align: center;
}

.image-option .image-option-label{
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #454545;
	letter-spacing: 0;
}

.image-option input[type="radio"]:checked + .custom-radio {
	border-color: #2A96FB;
}

.image-option input[type="radio"]:checked + .custom-radio:after {
	opacity: 1;
}

@media all and (min-width: 992px){
	.form-list-con .form-list{
		margin-bottom: 40px;
	}

	.form-con .form-btn-con{
		margin-top: 80px;
	}

	.image-radio-group{
		display: block;
		max-width: none;
	}

	.image-option{
		margin-right: 50px;
	}

	.image-option.custom{
		margin-top: 20px;
	}

	.custom-radio{
		width: 20px;
		height: 20px;
	}

	.custom-radio::after {
		width: 10px;
		height: 10px;
		top: 4px;
		left: 4px;
	}

	.image-option img{
		width: 100px;
		height: 100px;
	}

}
